:root {
  --border-color: #ccc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: monospace;
  height: 100%;
}

.root-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.designer {
  /* layout */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-rows: auto;

  /* style */
  border-right: 1px solid var(--border-color);
}

.thread {
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 1rem;

  ul {
    /* layout */
    padding: 0;
    display: grid;
    gap: 16px;

    /* style */
    list-style: none;
  }

  .role {
    font-weight: 600;
  }
}

.player {
  display: grid;
  grid-template-rows: auto 1fr;
}

.player__iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 4px;
}

.thumbnail {
  height: 32px;
  width: 100%;
  object-fit: cover;
}

.thumbnail-button {
  padding: 0;
  display: grid;
  grid-template-rows: auto auto;
}

/* utils */
[data-resize="horizontal"] {
  resize: horizontal;
  overflow: auto;
}
[data-resize="vertical"] {
  resize: vertical;
  overflow: auto;
}
[data-resize="none"] {
  resize: none;
}

[data-wrap="pre-wrap"] {
  white-space: pre-wrap;
  word-break: break-word;
}

[data-active-tab="false"] {
  display: none;
}
