*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: monospace;
  height: 100%;
}

.root-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.designer-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-rows: auto;
  padding-bottom: 1rem;
}

[data-resize="horizontal"] {
  resize: horizontal;
  overflow: auto;
}
[data-resize="vertical"] {
  resize: vertical;
  overflow: auto;
}
